{% extends "base.html" %}

{% block content %}
    <h1>Add Blog Entry</h1>
    <br>
    <form method='post'>
        <label>Title:
            <br>
            <input type="text" name='blog-title' value="{{blog_title}}">
        </label>
        <span class="error">{{title_error}}</span>
        <br>
        <label>Blog Entry:
            <br>
            <textarea name="blog-entry" style="width:600px; height:200px;">{{blog_entry}}</textarea>
        </label>
        <br>
        <input type="submit" value='Add Entry'>

        <span class="error">{{blog_error}}</span>
    </form>
{% endblock %}   